<div class="row">
  <div class="col-md-6">
    <h3>Mon 16 Jan</h3>
    <h4>
    Lesson <a href="https://swcarpentry.github.io/r-novice-gapminder/" target="_blank" rel="noopener noreferrer"> R for Reproducible Scientific Analysis</a>
    </h4>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html" target="_blank" rel="noopener noreferrer">Episode 1. Introduction to R and RStudio</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html" target="_blank" rel="noopener noreferrer">Episode 4. Data Structures</a> </td> </tr>
      <tr> <td>     </td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html" target="_blank" rel="noopener noreferrer">Episode 5. Exploring Data Frames</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html" target="_blank" rel="noopener noreferrer">Episode 8. Creating Publication-Quality Graphics with ggplot2</a> </td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html" target="_blank" rel="noopener noreferrer">Episode 13. Data Frame Manipulation with dplyr</a> </td> </tr>
      <tr> <td>     </td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html" target="_blank" rel="noopener noreferrer">Episode 15. Producing Reports With knitr</a> </td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tue 17 Jan</h3>
    <h4>
    Lessons <a href="https://swcarpentry.github.io/shell-novice/" target="_blank" rel="noopener noreferrer"> The Unix Shell</a> and
    <a href="https://swcarpentry.github.io/git-novice/" target="_blank" rel="noopener noreferrer"> Version Control with Git</a>  
    </h4>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Unix Shell: <a href="https://swcarpentry.github.io/shell-novice/setup.html" target="_blank" rel="noopener noreferrer">Setup</a> </td> </tr>
      <tr> <td>     </td>  <td>Unix Shell: <a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank" rel="noopener noreferrer">Episodes 1 to 4</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Unix Shell: <a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank" rel="noopener noreferrer">Episodes 5 to 7</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Version Control with Git: <a href="https://swcarpentry.github.io/git-novice/setup.html" target="_blank" rel="noopener noreferrer">Setup</a> </td> </tr>
      <tr> <td>     </td>  <td>Version Control with Git: <a href="https://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank" rel="noopener noreferrer">Episodes 1 to 6</a> </td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td>Version Control with Git: <a href="https://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank" rel="noopener noreferrer">Episodes 7 to 9</a> </td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>16:55</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
