<div class="row">
  <div class="col-md-6">
    <h3>Mon 16 Jan</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>R for Reproducible Scientific Analysis: episodes x to y</td> </tr>
      <tr> <td>10:50</td>  <td>Morning break</td> </tr>
      <tr> <td>11:05</td>  <td>R for Reproducible Scientific Analysis: episodes x to y</td> </tr>
      <tr> <td>12:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>R for Reproducible Scientific Analysis: episodes x to y</td> </tr>
      <tr> <td>14:55</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:10</td>  <td>R for Reproducible Scientific Analysis: episodes x to y</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tue 17 Jan</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Unix Shell: episodes x to y</td> </tr>
      <tr> <td>11:40</td>  <td>Morning break</td> </tr>
      <tr> <td>11:55</td>  <td>Unix Shell: episodes x to y</td> </tr>
      <tr> <td>13:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:15</td>  <td>Version Control with Git: episodes x to y</td> </tr>
      <tr> <td>15:55</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:10</td>  <td>Version Control with Git: episodes x to y</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>16:55</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
